<configuration>

    <!-- Console appender -->

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>

            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>

        </encoder>

    </appender>


    <!-- File appender 1-->

    <appender name="file1" class="ch.qos.logback.core.FileAppender">

        <file>logs/application.log</file>

        <append>true</append>

        <encoder>

            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>

        </encoder>

    </appender>
    <!-- File appender 1-->

    <appender name="FILE2" class="ch.qos.logback.core.FileAppender">

        <file>logs/file2.log</file>

        <append>true</append>

        <encoder>

            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>

        </encoder>

    </appender>


    <!-- Root logger IBMMQProject -->

    <root level="info">

       

        <appender-ref ref="file1"/>
       
    </root>
    <logger name="com.bluespire.citizensmq.controller" level="info">
        <appender-ref ref="FILE2"/>
    </logger>

</configuration>